body
{
	background-color: #404040;
	font-family: Arial, sans-serif;
}

#kontener
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 6px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
	align-items: center;
	transition: left 0.3s;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	
}

#pasekgorny {
	background-color: #ff9966;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
	text-align: center;
}

#lewypasekgorny {
	float: left;
	padding: 20px;
	width: 128px;
	text-align: center;
	border-right: 2px dotted #cccccc;
	transition-duration: 0.4s;
	overflow: hidden;
	box-shadow: 0 5px 15px #193047;
	border-radius: 4px;
	border: none;
	position: relative;
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

#prawypasekgorny
{
	float: right;
	padding: 20px;
	width: 760px;
	font-size: 20px;
	text-align: justify;
}

#pasekboczny
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}

#zawartosc
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#stopka
{
	clear: both;
	color: darkorange;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
}

.option:hover {
		background-color: #ff9966;
		cursor: pointer;
}

.opcja {
	border-radius: 4px;
	background-color: #ff9966;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 15px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.opcja span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
}

.opcja span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
}


.opcja:hover span {
		padding-right: 25px;
}

.opcja:hover span:after {
		opacity: 1;
		right: 0;
}


.opcja:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.wiekszytytul
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.kreskowanalinia
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}